services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: docker_bookshop
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      retries: 10

  app:
    build: .
    container_name: buchladen-app
    restart: always
    ports:
      - "8078:8078"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/docker_bookshop
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      - mysql
    volumes:
      - ./uploads:/app/uploads
