.desc-table{
    margin-left: auto;
    margin-right: auto;
}


table, th, td{
    border: 1px solid black;"
}
td{
    text-align: center;
    padding: 8px;
}

.number, .book-id{
    width: 100px;
}

.description{
    width: 1100px;
}

.buttons{
    width: 150px;
}