
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.page-top-section{
    display: flex;
    gap: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 1000;
    min-height: 100px;
    padding: 20px 0;
    margin-top: 20px;

}

.logo{
    display: flex;
    margin-left: 200px;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.text-logo{
    font-family: "Tahoma", serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: black;
}

.round-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.book-search{
    position: relative;
    visibility: hidden;
}


.searchForm{
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-search{
    height: 30px;
    width: 400px;
    padding-left: 8px ;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.book-search i{
    padding-top: 4px;
    margin-left: -35px;
}

.book-search button{
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    width:80px;
    height:30px;
    background-color: #005cbf;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.book-search button:hover{
    background-color: #007bff;
}


.message-section{
    position: relative;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    white-space: nowrap;
    text-align: center;
    left: 50px;
    /*  margin-top: 20px;*/
}


.logout{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.unreadMessages{
    width:100px;
    position: relative;
}

.unread-icon i {
    color: red;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse  {
    0% {transform: scale(1); opacity: 1}
    50% { transform:scale(1.3); opacity: 0}
    100% {transform:scale(1); opacity: 1}
}

.cart-section{
    right: 50px;
    width: 50px;
    position: relative;
}

.trolley{
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.cart-count{
    position: absolute;
    top: -30px;
    right:-10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.auth-button{
    right: 50px;
    position: sticky;
}

.sign_in_button, .sign_out_button, .account_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    border: none;
    background-color: white;
    width: 150px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3mm;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.account_button{
    right: 40px;
}

.sign_in_image img, .sign_out_image,.konto_image  {
    width: 30px;
    height: auto;
}

.sign_in_button:hover, .sign_out_button:hover, .account_button:hover {
    background-color: whitesmoke;
    border-radius: 3mm;
    cursor: pointer;
    border: none;
}

.sign_in_button:focus, .sign_out_button:focus, .account_button:focus{
    outline:0 !important;
}


.checkout-steps{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    position: relative;
}

.checkout-steps:before{
    content: "";
    position: absolute;
    top: 20px;
    left: 10%;
    right: 10%;
    height: 3px;
    background: #ccc;
    z-index: 0;
}

.step{
    text-align: center;
    position: relative;
    z-index: 1;
    flex: 1;
}

.step span{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #ccc;
    color:white;
    font-weight: bold;
}

.step.active span{
    background: #28a745;
}

.step p{
    margin-top: 8px;
    font-size: 14px;
}



.category{
    position: fixed;
    top:335px;
    margin-left: 200px;
    width: 250px;
}

.category td {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    height: 40px;
    border-bottom: 1px solid #778899;
}

.category a {
    text-decoration: none;
}

.category table .genre{
    color: #778899;
}

.category table .genre:hover{
    color: black;
}

.cart-list{
    position: relative;
    top: 33px;
    margin-left: 450px;
}

table{
    border-collapse: collapse;
}

td {
    padding: 8px;
font-size: 18px;
}

 .info1{
    display: flex;
    gap: 10px;
    text-align: left;
}

.price1{
    text-align: center;
}

 .quantity{
     display: flex;
    align-items: center;
     gap: 20px;
     justify-content: center;
}

 .text{
     text-align: center;
 }

.book-info{
    width:500px;
}

.number-of-books{
    width:250px;
}

.total-price{
    width:150px;
}

.book-info, .number-of-books, .total-price{
    font-size: 18px;
    font-family: "Arial", serif;
    color: #778899;
}

thead th, .every-book {
    border-bottom: 1px solid #ccc;
}

.book-img{
    width:100px;
    height: auto;
}

.button-plus{
   width: 30px;
    height: 30px;
    border: 1px solid #778899;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
    background-color: white;
 /*   text-align: center;*/
    line-height: 15px;
    color:#778899;
    padding-top: 4px;
    padding-right: 7px;
}

.button-minus{
    width: 30px;
    height: 30px;
    border: 1px solid #778899;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    line-height: 15px;
    padding-bottom: 5px;
    color:#778899;
}

.button-plus:hover, .button-minus:hover{
    background-color: whitesmoke;
}

.removeFromCart{
    width: 30px;
    height: 30px;
    border: 1px solid #778899;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.total-sum{
    position: fixed;
    top:335px;
    right: 200px;

}

.order{
    width: 250px;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #778899;
}

.order td{
    height: 60px;
}


.total-sum td{
    padding: 10px 10px;
}

.payment{
    align-items: center;
    padding: 18px 57px;
    background-color: #4682B4; /* cornflower blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
}

.payment:hover{
    background-color: #5a9bd3;
}