
 body, html {
    overflow-y: auto;
     height: auto;
}

 .page-top-section{
     display: flex;
     gap: 20px;
     max-width: 100%;
     align-items: center;
     justify-content: space-between;
     height: 70px;
     z-index: 1000;
     min-height: 100px;
     padding: 20px 0;
     margin-top: 20px;

 }

 .logo{
     display: flex;
     margin-left: 150px;
     align-items: center;
     gap: 10px;
     width: 200px;
 }

 .text-logo{
     font-family: "Tahoma", serif;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     color: black;
 }

 .round-logo{
     width: 100px;
     height: 100px;
     border-radius: 50%;
 }

 .book-search {

     position: relative;
 }


 .searchForm{
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .input-search{
     height: 30px;
     width: 400px;
     padding-left: 8px ;
     font-size: 20px;
     font-style: normal;
     font-family: "Times New Roman", serif;
 }

 .book-search i{
     padding-top: 4px;
     margin-left: -35px;
 }

 .book-search button{
     position: relative;
     cursor: pointer;
     margin-left: 20px;
     width:80px;
     height:30px;
     background-color: #005cbf;
     color: white;
     border-radius: 4px;
     border: none;
     font-size: 14px;
 }

 .book-search button:hover{
     background-color: #007bff;
 }

 .lang-section{
     display: flex;
     flex-direction: row;
     gap: 10px;
     margin-left: 10px;
 }

 .german-btn, .english-btn{
     width: 50px;
     height: auto;
     border: none;
     background-color: white;
 }

 .germ-img, .eng-img{
     background: none;
     width: 50px;
     height: auto;
 }

 .message-section{
     position: relative;
     color: black;
     font-size: 18px;
     font-style: normal;
     font-family: "Times New Roman", serif;
     white-space: nowrap;
     text-align: center;
     left: 40px;
 }


 .logout{
     color: black;
     font-size: 20px;
     font-style: normal;
     font-family: "Times New Roman", serif;
 }

 .unreadMessages{
     width:100px;
     position: relative;
 }

 .unread-icon i {
     color: red;
     animation: pulse 1.5s ease-in-out infinite;
 }

 @keyframes pulse  {
     0% {transform: scale(1); opacity: 1}
     50% { transform:scale(1.3); opacity: 0}
     100% {transform:scale(1); opacity: 1}
 }

 .cart-section{
     right: 40px;
     width: 50px;
     position: relative;
 }

 .trolley{
     cursor: pointer;
     text-decoration: none;
     position: relative;
 }

 .cart-count{
     position: absolute;
     top: -30px;
     right:-10px;
     background-color: red;
     color: white;
     border-radius: 50%;
     width: 24px;
     height: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
 }

 .auth-button{
     right: 40px;
     position: sticky;
 }

 .sign_in_button, .sign_out_button, .account_button {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 10px;
     color: black;
     font-size: 18px;
     font-style: normal;
     font-family: "Times New Roman", serif;
     border: none;
     background-color: white;
     width: 150px;
     height: 50px;
     padding-left: 10px;
     border-radius: 3mm;
     cursor: pointer;
     transition: background-color 0.3s ease;
     text-decoration: none;
 }
 .account_button{
     right: 30px;
 }

 .sign_in_image img, .sign_out_image,.konto_image  {
     width: 30px;
     height: auto;
 }

 .sign_in_button:hover, .sign_out_button:hover, .account_button:hover {
     background-color: whitesmoke;
     border-radius: 3mm;
     cursor: pointer;
     border: none;
 }

 .sign_in_button:focus, .sign_out_button:focus, .account_button:focus{
     outline:0 !important;
 }


 .linkToBooks {
     position: relative;
     top: 110px;
     display: flex;
     gap:60px;
     margin-left: 420px;
     font-size: 18px;
     font-weight: bold;
     font-family: sans-serif;
 }

 .home:hover, .genre:hover{
     color: black;
 }

 .genre, .home{
     font-size: 20px;
     font-weight: bold;
     font-family: sans-serif;
     color: #778899;
     text-decoration: none;
     border-bottom: 0.5px solid #778899;
 }

 .data-table-container{
     display:flex;
     gap:20px;
     max-height: none;
     overflow: visible;
     margin-top: 243px;
     margin-left: 400px;
 }

 .options-table1{
     width:100%;
 }

 .punkts{
     font-size: 32px;
     font-style: normal;
     font-family: "Times New Roman", serif;
     font-weight: bold;
     color: cornflowerblue;
     padding-bottom: 4px;
     border-bottom: 1px solid #dddddd;
 }

 .cell, .t-head{
     border-bottom: 1px solid #dddddd;
     padding: 8px;
     text-align: left;
 }

 .options {
     cursor: pointer;
     border: none;
     background-color: white;
     font-style: normal;
     font-family: "Times New Roman", serif;
     font-size: 24px;
     text-decoration: none;
 }

 .options:hover {
     color: cornflowerblue;
 }


.options-table{
    display:flex;
    gap:20px;
    max-height: none;
    overflow: visible;
    position: relative;
    margin-top: 243px;
    margin-left: 400px;
}

.sidebar{
    position: relative;
    width: 250px;
}

.table1{
    width:100%;
}

.option_table{
    width:700px;
    border-collapse: separate;
    border-spacing: 0 5px;
    top:301px;
}

.headName{
    display:inline-block;
    position: relative;
    padding-bottom: 12px;
    transform: translateY(12px);

}

.headName:after{
    content: '';
    display: block;
    height: 1px;
    background: #dddddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 700px;
}

.option-btn{
    color: black;
    display: flex;
    align-items: center;

    padding: 12px 12px;
    font-size: 24px;
    font-weight: normal;
    font-family: sans-serif;
    border-radius: 5px;
    border: none;
     width: 100%;
    background-color: #b9bbbe;
    text-align: left;
    cursor: pointer;
    margin-top: 30px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.option-btn.active{
    color: white;
    background-color: #4682B4;
    border-radius: 5px 5px 0 0;
}

.myEm, .myUs, .myPs{
    width: 200px;
}

.triangle{
    margin-left: 480px;
    flex: 1;
}

.option-btn.active .triangle{
    transform: rotate(90deg);
}

 .option-btn.active .triangle1{
     transform: rotate(90deg);
 }

.options-form{
   max-height: 0;
   overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left: 20px;
    border: none;
}

.options-form.open {
    max-height: 1000px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #dddddd;
    overflow: visible;
}

.options-form.expanded {
    max-height: 800px;
    overflow: visible;
}

.active-email, .active-userName{
    border: 1px solid black;
    width: 650px;
    height:35px;
    display: flex;
    align-items: center;
    font-size: 18px;
   padding-left: 8px;
    border-radius: 2px;
    font-style: normal;
    font-family: "Arial", serif;
    background-color: #dddddd;
}

.email-form form{
    display: flex;
    flex-direction: column;
}

.form-row{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-row-actual{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

#userEmail{
    visibility: hidden;
}
.new-email, .repeat-email, .pass  {
    width: 650px;
    display: flex;
   align-items: center;
   font-size: 18px;
    height: 35px;
    padding-left: 8px;
}

.form-row input:focus{
    outline: none;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.the-label {
    font-size: 18px;
    margin-top: 20px;
    font-family: "Times New Roman", sans-serif;
}
.actual-label{
    font-size: 18px;
    margin-top: 16px;
    font-family: "Times New Roman", sans-serif;
}

.option-submit-btn{

    position: relative;
    padding: 4px 9px;
    background-color: #4682B4; /* cornflower blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
    border: none;
    width: 200px;
    margin-top: 44px;
    height: 35px;
    margin-left: 450px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

.option-submit-btn:hover{
    background-color:#5a9bd3 ;
}

#pass_error, #pass_error1, #actual_pass_error, #newPassword_error, #repeatPassword_error{
    color:red;
    font-size: 14px;
    margin-top: 4px;
}

#customUsername_error, #repeatUsername_error, #newEmail_error, #confirmEmail_error{
    color:red;
    font-size: 14px;
    margin-top: 4px;
}

