
html, body{
    height: 100%;
    margin: 0;
}

.full-page-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.page-top-section{
    display: flex;
    gap: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 1000;
    min-height: 100px;
    padding: 20px 0;
    margin-top: 20px;

}

.logo{
    display: flex;
    margin-left: 150px;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.text-logo{
    font-family: "Tahoma", serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: black;
}

.round-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.book-search {

    position: relative;
    /* margin-right: 200px;*/
    /* height: 60px;*/
}


.searchForm{
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-search{
    height: 30px;
    width: 400px;
    padding-left: 8px ;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.book-search i{
    padding-top: 4px;
    margin-left: -35px;
}

.book-search button{
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    width:80px;
    height:30px;
    background-color: #005cbf;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.book-search button:hover{
    background-color: #007bff;
}

.lang-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.german-btn, .english-btn{
    width: 50px;
    height: auto;
    border: none;
    background-color: white;
}

.germ-img, .eng-img{
    background: none;
    width: 50px;
    height: auto;
}

.message-section{
    position: relative;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    white-space: nowrap;
    text-align: center;
    left: 40px;
}


.logout{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.unreadMessages{
    width:100px;
    position: relative;
    margin-left: 50px;
}

.unread-icon i {
    color: red;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse  {
    0% {transform: scale(1); opacity: 1}
    50% { transform:scale(1.3); opacity: 0}
    100% {transform:scale(1); opacity: 1}
}

.cart-section{
    right: 40px;
    width: 50px;
    position: relative;
}

.trolley{
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.cart-count{
    position: absolute;
    top: -30px;
    right:-10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.auth-button{
    right: 40px;
    position: sticky;
}

.sign_in_button, .sign_out_button, .account_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    border: none;
    background-color: white;
    width: 150px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3mm;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.account_button{
    right: 30px;
}

.sign_in_image, .sign_out_image,.konto_image  {
    width: 30px;
    height: auto;
}

.sign_in_button:hover, .sign_out_button:hover, .account_button:hover {
    background-color: whitesmoke;
    border-radius: 3mm;
    cursor: pointer;
    border: none;
}

.sign_in_button:focus, .sign_out_button:focus, .account_button:focus{
    outline:0 !important;
}
.linkToMyDate{
    position: relative;
    top: 100px;
    display: flex;
    gap:60px;
    margin-left: 480px;
}

.user-data, .admin-page, .bestell, .books, .formular, .request {
    text-decoration: none;
    color: #778899;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #778899;
}


.user-data:hover, .admin-page:hover, .bestell:hover,
.books:hover, .formular:hover, .request:hover{
    color: black;
}



.category{
    position: fixed;
    top: 223px;
    margin-left: 200px;
    width: 250px;
}

td{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    height: 40px;
    border-bottom: 1px solid #778899;
}

a{
    text-decoration: none;
}

.category table .genre{
    color: #778899;
}


.category table .genre:hover{
    color: black;
}

p, h3{
    line-height: 1.1;
}

.book-info-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 1000;
    top:143px;
    margin-left:600px;
    max-width: 40%;
   /* border: 1px solid black;*/
}

.book-image{
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 80vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid #d1ecf1;
    box-shadow: 2px 2px 2px 2px #d1ecf1;
}
.book-image:hover{
    box-shadow: 2px 2px 4px 4px #ced4da;
}

.book-pages{

}

.book-price-name{
    padding-bottom: 180px;
}

.add-to-cart{
    position: absolute;
    align-items: center;
    padding: 8px 12px;
    background-color: #4682B4; /* cornflower blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
    margin-top: 50px;
    border:none;
}

.linkToOrderPage{
    position: absolute;
    align-items: center;
    padding: 8px 12px;
    background-color: #4682B4; /* cornflower blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
    margin-top: 150px;
    border:none;
}

.add-to-cart:hover, .linkToOrderPage:hover{
    background-color: #5a9bd3;
    cursor: pointer;
}

.function-block{

    max-width: 1000px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

.functions-buttons{
   display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    border-top: 1px solid #ced4da;
}

.functions-buttons .info-button{
    color: #778899;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    background:none;
    cursor: pointer;
    position: relative;
    border: none;
}

.functions-buttons .info-button:hover::before{
  /* background-color:#007bff;*/
    content: '';
    color: #007bff;
    position: absolute;
    border-top:1px solid #007bff;
    top:-16px;
    left: 0;
    height: 1px;
    width: 100%;
}
.functions-buttons .info-button.active{
    color:#007bff;
}

.functions-buttons .info-button:not(.active):hover{
    color: #007bff;
}

.book-content{
min-width: 300px;
    color: #778899;
    font-size: 16px;
    font-weight: normal;
    font-family: sans-serif;
    text-align: justify;
}

.item-content{
    display: none;
}

.item-content.active{
    display: block;
    width: 800px;
}
.author-block{
/*position: relative;
    padding-right: 220px;*/
    overflow: hidden;
    text-align: justify;
}

.author-img{
 /*position: absolute;
    top:0;
    right: 0;*/
    float: right ;
    margin: 0 0 10px 20px;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    top:0;

}

.custom-modal .modal-content{
    width: 100%;
    border-radius: 40px;
}

.custom-modal .modal-header{
    justify-content: center;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 70px;
}


.custom-modal .modal-title{
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
   text-align: center;

}
.custom-modal .btn-close{
    filter: invert(1);

}

.thumbs{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    justify-content: center;
    padding: 0 10px;
}

.thumb-up, .thumb-down{
    border: none;
    background-color: white;
}

.likes-number{
    position: relative;
    margin-right: 150px;
}

.notes{
    text-align: center;
    border: 1px solid #ced4da;
    margin: 20px 0;
    padding: 5px 0;
}

.fa-star{
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
}

.fa-star.filled{
    color: gold;
}
.fa-star.checked{
    color: gold;
}

.bottom-section{
    width:100%;
    margin-top: 50px;
    background: #4682B4;
    padding: 18px 12px;
    height:250px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #ced4da;
    line-height: 0.8;
}

.post-part{
    margin-left: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.work-days{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.linkToForm{
    text-decoration: underline;
    color: #ced4da;
    cursor: pointer;
    max-height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.linkToForm:hover{
    color: white;
}
