.reset_form{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d3d9df;
    height: 320px;
    width: 650px;
    border-radius: 10px;
}

.form_header11{
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 24px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
    width: 640px;
}

.result_message{
    position: absolute;
    margin-top: -75px;
    width: 640px;
    margin-left: 630px;
    text-align: center;
    background-color: #dc3545;
    height: 40px;
    padding-top: 30px;
    font-size: 18px;
    font-family: "Arial", serif;
    font-weight: bold;
    border-radius: 5px;
}

.success_message{
    position: absolute;
    margin-top: -75px;
    width: 640px;
    margin-left: 630px;
    text-align: center;
    background-color: #28a745;
    height: 60px;
    padding-top: 20px;
    font-size: 18px;
    font-family: "Arial", serif;
    font-weight: bold;
    border-radius: 5px;
}

.input_pass{
    width:63%;
    height:25px;
    margin-bottom: 50px;
}
.input_pass:focus{
    outline: none;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.eye_icon2{
    margin-left: -40px;
    margin-top: 3px;
    position: absolute;
    border: 1px;
    background-color: white;
    width: 35px;
    height: 20px;
    display: inline;
}

.eye_icon2:hover{
    cursor: pointer;
}

.input_pass1{
    width:63%;
    height:25px;
}
.input_pass1:focus{
    outline: none;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.eye_icon3{
    margin-left: -40px;
    margin-top: 3px;
    position: absolute;
    border: 1px;
    background-color: white;
    width: 35px;
    height: 20px;
    display: inline;
}

.eye_icon3:hover{
    cursor: pointer;
}

.error1{
    color: red;
    float: left;
   position: absolute;
    white-space: nowrap;
    font-size: 14px;
    font-family: "Arial", serif;
    margin-top: 5px;
    margin-left: 200px;

}

.send1{
    font-size: 14px;
    font-family: "Arial", serif;
    border: none;
    border-radius: 1mm;
    background-color: gold;
    height:30px;
    width: 190px;
    margin-top: 50px;

}

.send1:hover{
    background-color: goldenrod;
    cursor: pointer;
}

.login{
    font-size: 14px;
    font-family: "Arial", serif;
    border: none;
    border-radius: 1mm;
    background-color: gold;
    height:30px;
    width: 190px;
    margin-top: 50px;
    margin-right: 20px;
}

.login:hover{
    background-color: goldenrod;
    cursor: pointer;
}