.top-right-wrapper{
    position: absolute;
    top: 20px;
    right:20px;
    display:flex;
    gap:12px;
}

.child1, .child2{
    display:flex;
    align-items: center;
}

.account_button, .sign_in_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
  /*  font-weight: bold;*/
    border: none;
    background-color: white;
    width: 200px;
    height: 60px;
    padding-left: 15px;
    border-radius: 3mm;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.account_button:hover, .sign_in_button:hover{
    background-color: whitesmoke;
    border-radius: 3mm;
    cursor: pointer;
    border: none;
}

.konto_image img, .sign_in_button img{
    width: 40px;
    height: auto;
}

.options-table1{
    top: 450px;
    left: 400px;
    width: 250px;
}

.punkts{
    font-size: 32px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: cornflowerblue;
    padding-bottom: 4px;
    border-bottom: 1px solid #dddddd;
}

.cell, .t-head{
   border-bottom: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.options {
    cursor: pointer;
    border: none;
    background-color: white;
    font-style: normal;
    font-family: "Times New Roman", serif;
    font-size: 24px;
    text-decoration: none;
}

.options:hover {
    color: cornflowerblue;
}


