html, body{
    height: 100%;
    margin: 0;
}

.full-page-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page-top-section{
    display: flex;
    gap: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 1000;
    min-height: 100px;
    padding: 20px 0;
    margin-top: 20px;

}

.logo{
    display: flex;
    margin-left: 150px;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.text-logo{
    font-family: "Tahoma", serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: black;
}

.round-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.book-search {

    position: relative;
    /* margin-right: 200px;*/
    /* height: 60px;*/
}


.searchForm{
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-search{
    height: 30px;
    width: 400px;
    padding-left: 8px ;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.book-search i{
    padding-top: 4px;
    margin-left: -35px;
}

.book-search button{
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    width:80px;
    height:30px;
    background-color: #005cbf;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.book-search button:hover{
    background-color: #007bff;
}

.lang-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.german-btn, .english-btn{
    width: 50px;
    height: auto;
    border: none;
    background-color: white;
}

.germ-img, .eng-img{
    background: none;
    width: 50px;
    height: auto;
}

.message-section{
    position: relative;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    white-space: nowrap;
    text-align: center;
    left: 50px;
    /*  margin-top: 20px;*/
}


.logout{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.unreadMessages{
    width:100px;
    position: relative;
    margin-left: 50px;
}

.unread-icon i {
    color: red;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse  {
    0% {transform: scale(1); opacity: 1}
    50% { transform:scale(1.3); opacity: 0}
    100% {transform:scale(1); opacity: 1}
}

.cart-section{
    right: 40px;
    width: 50px;
    position: relative;
}

.trolley{
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.cart-count{
    position: absolute;
    top: -30px;
    right:-10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.auth-button{
    right: 40px;
    position: sticky;
}

.sign_in_button, .sign_out_button, .account_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    border: none;
    background-color: white;
    width: 150px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3mm;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.account_button{
    right: 30px;
}

.sign_in_image img, .sign_out_image,.konto_image  {
    width: 30px;
    height: auto;
}

.sign_in_button:hover, .sign_out_button:hover, .account_button:hover {
    background-color: whitesmoke;
    border-radius: 3mm;
    cursor: pointer;
    border: none;
}

.sign_in_button:focus, .sign_out_button:focus, .account_button:focus{
    outline:0 !important;
}

.chat-content{
    flex: 1;
}

.talk-box{
    display:flex;
    gap:40px;
    max-height: none;
    overflow: visible;
    margin-top: 243px;
    margin-left: 400px;
}

.punkts{
    font-size: 32px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: cornflowerblue;
    padding-bottom: 4px;
    border-bottom: 1px solid #dddddd;
}
.cell, .t-head{
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.options {
    cursor: pointer;
    border: none;
    background-color: white;
    font-style: normal;
    font-family: "Times New Roman", serif;
    font-size: 24px;
    text-decoration: none;
}

.options:hover {
    color: cornflowerblue;
}

.linkToBooks {
    position: relative;
    top: 110px;
    display: flex;
    gap:60px;
    margin-left: 420px;

}

.genre, .home{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #778899;
    text-decoration: none;
    border-bottom: 0.5px solid #778899;
}

.home:hover, .genre:hover{
    color: black;
}

.message-part{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.select-request{
    display: flex;
    flex-direction: column;
}

.select-request label{
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 10px;
    font-family: "Times New Roman", sans-serif;
}

.requestSelect{
    padding: 5px 10px;
    height: 35px;
    font-size: 18px;
    font-family: "Arial", serif;
    font-style: normal;
    width: 500px;
}

.requestSelect:focus{
    outline: none;
    border-color: #5a9bd3;
    box-shadow: 0 0 10px #5a9bd3;
}

.talking{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.admin_message{
   align-self: flex-start;
    background-color: #f1f1f1;
    padding: 8px 12px;
    border-radius: 10px;
  max-width: 70%;
}

.user_message{
 align-self: flex-end;
    background-color: #cce5ff;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 70%;
}

.bottom-section{
    width:100%;
    margin-top: 50px;
    background: #4682B4;
    padding: 18px 12px;
    height:250px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #ced4da;
    line-height: 0.8;
}

.post-part{
    margin-left: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.work-days{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.linkToForm{
    text-decoration: underline;
    color: #ced4da;
    cursor: pointer;
    max-height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.linkToForm:hover{
    color: white;
}
