<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-delivery-address.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Lieferadress hinzufügen</title>
</head>
<body>
<div class = "bg">
    <div th:insert="~{home.html :: authorization}"></div>
    <div class="form-frame">
        <div class="form-title" th:text="#{addDeliveryAddress}"></div>

        <div class="form-row">
            <div class="form-group">
                <label for="titel" class="l1" th:text="#{userTitle}"></label>
                <select class="titel" id="titel">
                    <option>...</option>
                    <option th:text="#{male}"></option>
                    <option th:text="#{female}"></option>
                </select>
            </div>
        </div>

        <form th:action="@{/delivery/add_delivery_address}"  th:object="${shipping}" name="myForm" method="post"
               role="form">
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName" class="l1" th:text="#{firstName}"></label>
                    <input th:field="*{firstName}" id="firstName" class="firstName"  type="text">
                    <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:text="#{userDto.firstName.notBlank}"></div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="l1" th:text="#{secondName}"></label>
                    <input th:field="*{lastName}" id="lastName" class="lastName" type="text">
                    <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="street" class="l1" th:text="#{street}"></label>
                    <input th:field="*{street}" id="street" class="street" type="text">
                    <div class="error" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
                </div>
                <div class="form-group">
                    <label for="house"  class="houseNummer" th:text="#{houseNumber}"></label>
                    <input th:field="*{houseNumber}" id="house" class="house" type="text">
                    <div class="errorHaus" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="index" class="plz" th:text="#{postcode}"></label>
                    <input th:field="*{postcode}" id="index" class="index" type="text">
                    <div class="errorPlZ" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="town" class="l1" th:text="#{town}"></label>
                    <input th:field="*{town}" id="town" class="town" name="town" type="text">
                    <div class="error" th:if="${#fields.hasErrors('town')}" th:errors="*{town}"></div>
                </div>
                <div class="form-group">
                    <label for="country" class="l1" th:text="#{country}"></label>
                    <select required th:field="*{country}" id="country" class="country" name="country" type="text">
                        <option value="Deutschland" th:text="#{germany}"></option>
                        <option value="Belgien" th:text="#{belgium}"></option>
                        <option value="Bulgarien" th:text="#{bulgaria}"></option>
                        <option value="Daenmark" th:text="#{denmark}"></option>
                        <option value="Frankreich" th:text="#{france}"></option>
                        <option value="Italien" th:text="#{italy}"></option>
                        <option value="Niederlande" th:text="#{netherlands}"></option>
                        <option value="Österreich" th:text="#{austria}"></option>
                        <option value="Portugal">Portugal</option>
                        <option value="Schweiz" th:text="#{switz}"></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <button id="submit-button" type="submit" class="saveDeliveryAddress" th:text="#{addDelAddress}"></button>
                </div>
            </div>


        </form>
    </div>
    <div th:insert="~{home :: page-footer}"></div>
</div>
<div th:insert="~{home :: searchModal}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script th:src="@{/js/book_search.js}" charset="UTF-8"></script>
</body>
</html>