<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="icon shortcur icon" th:href="@{/images/favicon.ico}">
<head>
    <meta charset="UTF-8">
    <title>Buecherslager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-books-stockPage.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
<div class="full-page-wrapper">
    <div th:insert="~{home.html :: authorization}"></div>
<div class="stock-page">

    <div class="back-btn">
        <a class="link-to-dashboard" th:href="@{'/admin/dashboard'}" th:text="#{admin-dashboard}"></a>
    </div>
    <div class="add-book-link">
<a class="add-book-to-stock" th:href="@{'/admin/stock/addNewBookToStock'}" th:text="#{addNewBook}"></a>
    </div>
    <table class="stockTable">
        <thead>
            <tr>
                <th class="number" th:text="#{number}"></th>
                <th class="title" th:text="#{titleAuthor}"></th>
                <th class="quantity" th:text="#{sum1}"></th>
                <th th:text="#{priceForBook}"></th>
               <th class="total" th:text="#{totalsum}"></th>
                <th class="update" th:text="#{lastUpdate}"></th>
                <th th:text="#{process}"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="stock, iterStat : ${stocks}">
            <td th:text="${iterStat.count}"></td>

            <td th:text="${stock.book.title + ' / ' + stock.book.author.name}"></td>
            <td th:text="${stock.quantity}"></td>
            <td th:text="${stock.oneBookPrice}"></td>
            <td th:text="${stock.totalPrice}"></td>
            <td th:text="${#temporals.format(stock.lastUpdate, 'dd.MM.yyyy HH:mm')}"></td>
            <td>
                <a class="edit-stock-book-btn" th:href="@{/admin/stock/books/getStock/edit_stock/{id}(id=${stock.id})}" th:text="#{process}"></a>
                <button class="delete-stock-book-btn" th:attr="data-id=${stock.id}" th:text="#{delete1}"></button>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="full-price">
    <p>
        <span th:text="#{totalValue}"></span>
        <strong th:text="${#numbers.formatDecimal(totalStockValue, 1, 'COMMA', 2, 'POINT')} + ' Euro'" ></strong>
    </p>
    </div>
</div>
    <div th:insert="~{home :: page-footer}"></div>
</div>
<script th:src="@{/js/admin-stock-page.js}" charset="UTF-8"></script>
</body>
</html>