<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Mein Warenkorb</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart-page.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="full-page-wrapper">
<div th:block th:replace="~{home.html :: authorization }"></div>

    <div class="cart-content">

<div th:block th:replace="~{home.html :: categories}"></div>


<div th:fragment="checkout-steps" class="checkout-steps">
    <div class="step" th:classappend="${step == 1} ? 'active'">
        <span>1</span>
        <p th:text="#{cart1}"></p>
    </div>
    <div class="step" th:classappend="${step == 2} ? 'active'">
        <span>2</span>
        <p th:text="#{order1}"></p>
    </div>
    <div class="step" th:classappend="${step == 3} ? 'active'">
        <span>3</span>
        <p th:text="#{payment1}"></p>
    </div>
    <div class="step" th:classappend="${step== 4} ? 'active'">
        <span>4</span>
        <p th:text="#{confirm}"></p>
    </div>
</div>

<div class="cart-list">
    <table>
        <thead>
        <tr>
            <th class="book-info" th:text="#{article}"></th>
            <th class="number-of-books" th:text="#{quantity}"></th>
            <th class="total-price" th:text="#{inTotal}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="every-book" th:id="|cart-item-${item.bookId}|" th:each="item : ${cart.cartItemDto}" >
            <td>
                <div class="info1">
                    <img class="book-img" th:src="@{${item.imageURL}}">
                    <p th:text="${item.author + ':'}"></p>
                    <p th:text="${item.title}"></p>
                </div>
            </td>
            <td>
                <div class="quantity">
                    <button type="button" th:onclick="|updateQuantity(${item.bookId}, -1)|" class="button-minus">-</button>
                    <span class="text" th:id="|quantity-${item.bookId}|" th:text="${item.quantity}">1</span>
                    <button type="button" th:onclick="|updateQuantity(${item.bookId}, 1)|" class="button-plus">+</button>
                </div>
            </td>
            <td class="price1" th:id="|price1-${item.bookId}|" th:text="${item.itemTotalPrice} + ' €'">

            </td>
            <td>
                <button type="button" th:onclick="|removeBookFromCart(${item.bookId})|" class="removeFromCart">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="total-sum">
    <table class="order" >
        <tr>
            <td>
            <span th:text="#{youOrder}"></span>
                <span class="count-wrapper">
            <span id="bookCount" th:text="|${total}|">0</span>
                <span th:text="#{books}"></span>
                </span>
            </td>
        </tr>
        <tr style="border-bottom: #778899 solid 1px;">
            <td>
                <span th:text="#{sum1}"></span>
            <span style="color: #b21f2d; float: right" th:id="|totalSum|" th:text="${cartPrice} + '  €'">0.00</span>
            </td>
        </tr>
        <tr >
            <td id="checkout-block" style="height: 70px" th:style="${empty} ? 'display: none;'  : ''">
                <a class="payment" th:href="${'/order/order_address'}">
                    <span th:text="#{checkout1}" style="margin-right: 5px"></span>
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </td>
            <td id="empty-block" th:style="${empty} ? 'color: #ced4da; ' : 'display:none;'" class="emptyCart" th:text="#{emptyCart}"></td>
        </tr>
    </table>
</div>

    </div>
  <div th:insert="~{home :: page-footer}"></div>
    <script th:src="@{/js/cart_page.js}" charset="UTF-8"></script>
</div>
</body>
</html>