<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="icon shortcur icon" th:href="@{/images/favicon.ico}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/choose-payment-page.css}">
    <title>Bezahlung</title>
</head>
<body>
<div class="full-page-wrapper">
<div class="top-section">

    <div th:insert="~{home.html :: authorization}"></div>
</div>
<div class="payment-content">
<div th:block th:replace="~{cart-page.html :: checkout-steps }"></div>

<form  th:action="@{/order/choose-payment}" th:object="${order}" method="post" >
<div class="order-frame" >
    <div class="payment-frame">
    <div  class="payment-block">

            <label>
                <input type="radio" th:field="*{paymentMethod}" value="RECHNUNG" checked="checked" th:text="#{invoice}">
            </label>
    </div>
        <div  class="payment-block">
            <label>
                <input type="radio" th:field="*{paymentMethod}" value="PAYPAL"> PayPal
            </label>
        </div>
        <div  class="payment-block">
            <label>
                <input type="radio" th:field="*{paymentMethod}" value="BANKKARTE" th:text="#{bankCard}">
            </label>

            <input type="hidden" th:field="*{id}">

    </div>
        <div class="line3"></div>

        <a class="goToAddresses" th:href="${'/order/delivery_new_or_saved_addresses'}">
            <i class="fa-solid fa-angles-left"></i>
            <span th:text="#{back}"></span>
        </a>
    </div>
    <div class="orderPart">
        <h2 style="margin-top: -5px;" th:text="#{order1}"></h2>
        <div style="display: flex; align-items: center; justify-content: space-between">
            <p class="totalOrder" th:text="#{youOrder}"></p>
            <span class="totalBooks"  th:text="|${total} #{books}|"></span>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between">
            <p class="totalSum" th:text="#{sum1}"></p>
            <span class="totalEuro" th:text="${cartPrice + ' Euro'}"></span>
        </div>
        <div th:value="${order.id}"></div>
        <div class="line2"></div>
        <button class="goToConfirmation" type="submit">
            <span th:text="#{next}"></span>
            <i class="fa-solid fa-angles-right"></i>
        </button>
    </div>
</div>
</form>
</div>
    <div th:insert="~{home :: page-footer}"></div>
</div>
</body>

</html>