<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<link rel="icon shortcur icon" th:href="@{/images/favicon.ico}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/delivery-addresses.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Neue und gespeicherte Lieferaddresse</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="full-page-wrapper">
<div th:block th:replace="~{home.html :: authorization }"></div>

<div id="deliverAddressError" class="alert alert-warning my-alert" style="display: none" th:text="#{delAddress}">
    Bitte waehlen Sie eine Lieferadresse!
</div>

<div th:block th:replace="~{cart-page.html :: checkout-steps }"></div>

    <div class="del-address-content">

        <div class="form-button-section">

<form id="newAddressForm" method="post">
    <div class="order-frame">
        <div class="deliveryPart">
            <h2 th:text="#{deliveryAddress}"></h2>
            <div class="form-row">
                <div class="form-group">
                    <input type="hidden" id="addressId" name="id" value="">
                    <label for="title" th:text="#{title}"></label>
                    <input type="text" id="title" class="title">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName" th:text="#{firstName}"></label>
                    <input id="firstName" name="firstName" class="firstName" type="text">
                    <div class="error-message" id="error-firstName"></div>
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{secondName}"></label>
                    <input id="lastName" name="lastName" class="secondName" type="text">
                    <div class="error-message" id="error-lastName"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="town" th:text="#{town}"></label>
                    <input id="town" name="town" class="town" type="text">
                    <div class="error-message" id="error-town"></div>
                </div>
                <div class="form-group">
                    <label for="street" th:text="#{street}"></label>
                    <input id="street" name="street" class="street" type="text">
                    <div class="error-message" id="error-street"></div>
                </div>
                <div class="form-group">
                    <label for="houseNumber" th:text="#{houseNumber}"></label>
                    <input id="houseNumber" class="houseNumber" type="text">
                    <div class="error-message" id="error-houseNumber"></div>
                </div>
                <div class="form-group">
                    <label for="postcode" th:text="#{postcode}"></label>
                    <input id="postcode" name="postcode" class="postcode" type="text">
                    <div class="error-message" id="error-postcode"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="country" th:text="#{country}"></label>
                    <select id="country" name="country" class="country" type="text">
                        <option value="Deutschland" th:text="#{germany}"></option>
                        <option value="Belgien" th:text="#{belgium}"></option>
                        <option value="Bulgarien" th:text="#{bulgaria}"></option>
                        <option value="Daenmark" th:text="#{denmark}"></option>
                        <option value="Frankreich" th:text="#{france}"></option>
                        <option value="Italien" th:text="#{italy}"></option>
                        <option value="Niederlande" th:text="#{netherlands}"></option>
                        <option value="Österreich" th:text="#{austria}"></option>
                        <option value="Portugal">Portugal</option>
                        <option value="Schweiz" th:text="#{switz}"></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="deliveryAddress" style="font-weight: bold; font-size: 24px;" th:text="#{deliveryAddress}"></label>
                    <select id="deliveryAddress" class="deliveryAddress">
                        <option value="" disabled selected hidden th:text="#{delAddress}"></option>
                        <option value="new" th:text="#{newDelAddress}"></option>
                        <option value="saved" th:text="#{savedDelAddress}"></option>
                    </select>
                </div>
            </div>

            <div class="line2"></div>

           <!-- <div class="form-row">
                <div class="form-group">
                    <a class="goToBillAddress" th:href="@{'/order/order_address'}">
                        <i class="fa-solid fa-angles-left"></i>
                        <span th:text="#{back}"></span>
                    </a>
                </div>
            </div>-->
        </div>

        <div class="orderPart">
            <h2 style="margin-top: -5px;" th:text="#{order1}"></h2>
            <div style="display: flex; align-items: center; justify-content: space-between">
                <p class="totalOrder" th:text="#{youOrder}"></p>
                <span class="items" th:text="${total}"></span>
                <span class="totalBooks" th:text="#{books}">
                </span>
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between">
                <p class="totalSum" th:text="#{totalsum}"></p>
                <span class="totalEuro" th:text="${cartPrice + ' Euro'}"></span>
            </div>
            <div class="line2"></div>
            <div class="form-group">
                <button class="goToPayment" id="goToPayment" type="button">
                    <span th:text="#{next}"></span>
                    <i class="fa-solid fa-angles-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>
      <!--  <div class="form-row1">
            <div class="form-group1">-->
                <a class="goToBillAddress" th:href="@{'/order/order_address'}">
                    <i class="fa-solid fa-angles-left"></i>
                    <span th:text="#{back}"></span>
                </a>
      <!--      </div>
        </div>-->
        </div>

<div class="modal fade" id="addressModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Wählen eine Lieferadresse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div th:each="addr : ${savedAddresses}" class="card mb-2">
                    <div class="card-body">
                        <label>
                            <input type="radio" name="selectedAddresses" th:value="${addr.id}">
                            <strong th:text="${addr.firstName + ' ' + addr.lastName + ','}"></strong>
                            <br>
                            <span th:text="${addr.street + ' ' + addr.houseNumber + ','}"></span>
                            <br>
                            <span th:text="${addr.postcode + ', ' + addr.town + ','}"></span>
                            <br>
                            <span th:text="${addr.country + '.'}"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveAddressBtn" type="button" class="btn btn-success" data-bs-dismiss="modal">
                    Speichern die gewaelte Adresse
                </button>
            </div>
        </div>
    </div>
</div>
    </div>
    <div th:insert="~{home :: page-footer}"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById("deliveryAddress").addEventListener("change", function () {

        const newForm = document.getElementById("newAddressForm");

        if (this.value === "saved") {
            const modal = new bootstrap.Modal(document.getElementById("addressModal"));
            modal.show();
            /*  newForm.style.display = "block";*/
        } else if (this.value === "new") {
            /*  window.location.href ="/order/delivery_new_or_saved_addresses"*/
            newForm.style.display = "block";
        } else {
            newForm.style.display = "none";
        }
    });


    document.getElementById("saveAddressBtn").addEventListener("click", function () {
        const selected = document.querySelector('input[name ="selectedAddresses"]:checked');

        const addressId = selected.value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch(`/order/get_address/${addressId}`, {
            method: "GET",
            headers: {
                [csrfHeader]: csrfToken
            }
        })
            .then(response => response.json())
            .then(addr => {

                document.getElementById("firstName").value = addr.firstName;
                document.getElementById("lastName").value = addr.lastName;
                document.getElementById("houseNumber").value = addr.houseNumber;
                document.getElementById("street").value = addr.street;
                document.getElementById("town").value = addr.town;
                document.getElementById("country").value = addr.country;
                document.getElementById("postcode").value = addr.postcode;
                document.getElementById("addressId").value = addr.id;

            })
            .catch(err => console.error(err));
    });


    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById("goToPayment").addEventListener("click", function () {
            const errorDiv = document.getElementById('deliverAddressError');

            let selected = $("#deliveryAddress").val();
            if (!selected) {
                errorDiv.style.display = 'block';
                return;
            } else {
                errorDiv.style.display = 'none';
            }

            const formData = {

                firstName: document.getElementById("firstName").value,
                lastName: document.getElementById("lastName").value,
                street: document.getElementById("street").value,
                houseNumber: document.getElementById("houseNumber").value,
                postcode: document.getElementById("postcode").value,
                town: document.getElementById("town").value,
                country: document.getElementById("country").value,
            }

            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            fetch("/order/save_address", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(formData)
            })
                .then(async response => {
                    if (!response.ok) {
                        const errors = await response.json();
                        console.log("Validation errors:", errors);
                        for (const field in errors) {
                            const errorDiv = document.getElementById(`error-${field}`);

                            if (errorDiv) {
                                errorDiv.textContent = errors[field];
                            }
                        }
                        throw new Error("Validation failed");
                    }
                    return response.json();
                })
                .then(orderId => {
                    window.location.href = `/order/choose-payment/${orderId}`;
                })
                .catch(async err => console.error(err));
        });
    });
</script>
</body>
</html>