<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" th:href="@{#}">
<link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>

    <link th:href="@{/css/forgotten_pass_form.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:if="${error != null}">
    <p class="error_message">[[${error}]]</p>
</div>
<div th:if="${message != null}" >
    <p class="result_message">[[${message}]]</p>
</div>
<!--<div class="pass_form">
    <div class="form_header">
        Wir werden Ihnen einen Link zum Zurücksetzen des Passworts per E-Mail zusenden.
    </div>
<form th:action="@{/forgot_password}" method="post">
    <input type="email"  name="email" placeholder="Geben Ihre E-Mail ein!">
    <br>
    <input type="submit" value="schicken">
</form>
</div>-->


<div class="pass_form">

    <div class="fade" >

        <div class="dialog11">
            <div class="content22">

                <div class="form_header">
                    <div class="title"> Sie haben das Passwort vergessen!</div>
                </div>

                <div class="body" style="text-align: center">
                    <p class="text">
                        Wir werden Ihnen einen Link zum Zurücksetzen des Passworts per E-Mail zusenden.
                    </p>
                    <br>
                    <br>
                    <form method="post" th:action="@{/forgot_password}">

                        <div class="group">
                            <input type="text" class="input_mail"  name="email" placeholder="Geben Ihre E-Mail ein!">
                        </div>
                        <div class="footer" style="height: 50%; border: none">
                            <input type="submit" class="send" value="Schicken" >
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>