<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" th:href="@{#}">
<link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}">
<head>
    <meta charset="UTF-8">
    <title>Setzen Ihr Passwort zurück</title>
    <link th:href="@{/css/reset_pass_form.css}" rel="stylesheet" type="text/css"/>


</head>
<body>

<div th:if="${message != null}" >
    <p class="result_message">[[${message}]]</p>
</div>
<div th:if="${success_message != null}" >
    <p class="success_message">[[${success_message}]]</p>
</div>

<div class="reset_form">

    <div class="fade11" >

        <div class="dialog22">
            <div class="content33">

                <div class="form_header11">
                    <div class="title"> Setzen Sie Ihr Passwort zurück!</div>
                </div>

                <div class="body" style="text-align: center">


                    <form method="post" th:action="@{/reset_password}" onsubmit="return validateForm()">
                        <input type="hidden" name="token" th:value="${token}">

                        <div class="group1">
                            <input type="password" class="input_pass" id="password1" name="password" placeholder="Geben Ihr neues Passwort ein!">
                            <button type="button" class=" eye_icon2" id="checkPass1" style="outline: none" onclick="showPass2()">
                            <img class="img2" id = "img2" th:src="@{/images/eye.png}" style="padding-bottom: 3px">
                            </button>
                        </div>
                        <div class="group2">
                            <input type="password"  class="input_pass1" id="password2"  name="password" placeholder="Bestätigen Sie Ihr neues Passwort!">
                            <button type="button" class=" eye_icon3" id="checkPass2" style="outline: none" onclick="showPass3()">
                            <img class="img3" id = "img3" th:src="@{/images/eye.png}" style="padding-bottom: 3px">
                            </button>
                        </div>
                        <div class="error1" id="not_match"></div>
                        <div class="footer" style="height: 50%; border: none">
                            <a th:href="@{login}">
                                <button type="button"  class="login" >Zurück zur Anmeldung</button>
                            </a>
                            <input type="submit" class="send1" value="Wechseln das Passwort">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/reset_pass.js}" charset="UTF-8"></script>
</body>
</html>